<%- include('../partials/messages') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <h4><i class="fas fa-file-upload"></i> Import Joined Employees</h4>
        </div>
        <div class="card-body">
          <p>
            Import joined employees from an Excel file. The file should have the following columns:
            <code>Employee Name</code>, <code>Job Title</code>, <code>Company</code>, <code>Employee Type</code>,
            <code>Recruiter Team</code>, <code>Start Date</code>, <code>Joined Date</code>
          </p>
          
          <div class="alert alert-info">
            <strong>Tips:</strong>
            <ul>
              <li>Employee Type must be one of: 'Light Industrial' or 'Professional'</li>
              <li>Recruiter Team must be one of: 'Team Braves' or 'Team Duracell'</li>
              <li>Dates should be in YYYY-MM-DD format</li>
            </ul>
          </div>

          <a href="/import/joined/template" class="btn btn-secondary mb-3">
            <i class="fas fa-file-download"></i> Download Template
          </a>
          
          <form action="/import/joined" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="joinedFile" class="form-label">Excel File</label>
              <input class="form-control" type="file" id="joinedFile" name="joinedFile" required accept=".xlsx,.xls">
              <div class="form-text">Only .xlsx and .xls files are supported.</div>
            </div>
            
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-upload"></i> Upload and Import
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>